In [59]:
import requests
import numpy as np
import csv, json
import pandas as pd
import config# get my NYT keys

# NYT API

In [60]:
class APIKeyException(Exception):
    def __init__(self, message): self.message = message 

class InvalidQueryException(Exception):
    def __init__(self, message): self.message = message 

class ArchiveAPI(object):
    def __init__(self, key=None):
        """
        Initializes the ArchiveAPI class. Raises an exception if no API key is given.
        :param key: New York Times API Key
        """
        self.key = key
        self.root = 'http://api.nytimes.com/svc/archive/v1/{}/{}.json?api-key={}' 
        if not self.key:
            nyt_dev_page = 'http://developer.nytimes.com/docs/reference/keys'
            exception_str = 'Warning: API Key required. Please visit {}'
            raise NoAPIKeyException(exception_str.format(nyt_dev_page))

    def query(self, year=None, month=None, key=None,):
        """
        Calls the archive API and returns the results as a dictionary.
        :param key: Defaults to the API key used to initialize the ArchiveAPI class.
        """
        if not key: key = self.key
        if (year < 1882) or not (0 < month < 13):
            # currently the Archive API only supports year >= 1882
            exception_str = 'Invalid query: See http://developer.nytimes.com/archive_api.json'
            raise InvalidQueryException(exception_str)
        url = self.root.format(year, month, key)
        r = requests.get(url)
        return r.json()


api = ArchiveAPI(config.nytkey)


years = [2020]
months = [1]

for year in years:
    for month in months:
        mydict = api.query(year, month)
        file_str = '/Users/zoe/' + str(year) + '-' + '{:02}'.format(month) + '.json'
        with open(file_str, 'w') as fout:
            json.dump(mydict, fout)
        fout.close()

In [61]:
file_str = '/Users/zoe/' + str(year) + '-' + '{:02}'.format(month) + '.json'

In [62]:
df = pd.read_csv('Data/DJI.csv')

In [63]:
with open('^DJI.csv', 'r') as csvfile:
    spamreader = csv.reader(csvfile, delimiter=',')
    # Converting the csv file reader to a lists 
    data_list = list(spamreader)

# Separating header from the data
header = data_list[0] 
data_list = data_list[1:] 

data_list = np.asarray(data_list)

# Selecting date and close value for each day
selected_data = data_list[:, [0, 4, 6]]

In [64]:
selected_data

array([['2019-01-08', '23787.449219', '317420000'],
       ['2019-01-09', '23879.119141', '324570000'],
       ['2019-01-10', '24001.919922', '338150000'],
       ['2019-01-11', '23995.949219', '262650000'],
       ['2019-01-14', '23909.839844', '277560000'],
       ['2019-01-15', '24065.589844', '291570000'],
       ['2019-01-16', '24207.160156', '302830000'],
       ['2019-01-17', '24370.099609', '288590000'],
       ['2019-01-18', '24706.349609', '372970000'],
       ['2019-01-22', '24404.480469', '338480000'],
       ['2019-01-23', '24575.619141', '318600000'],
       ['2019-01-24', '24553.240234', '320170000'],
       ['2019-01-25', '24737.199219', '376890000'],
       ['2019-01-28', '24528.220703', '347170000'],
       ['2019-01-29', '24579.960938', '330870000'],
       ['2019-01-30', '25014.859375', '397330000'],
       ['2019-01-31', '24999.669922', '507350000'],
       ['2019-02-01', '25063.890625', '372090000'],
       ['2019-02-04', '25239.369141', '298540000'],
       ['2019-02-05', '25411.519531', '310650000'],
       ['2019-02-06', '25390.300781', '247590000'],
       ['2019-02-07', '25169.529297', '295460000'],
       ['2019-02-08', '25106.330078', '248210000'],
       ['2019-02-11', '25053.109375', '241700000'],
       ['2019-02-12', '25425.759766', '278110000'],
       ['2019-02-13', '25543.269531', '263330000'],
       ['2019-02-14', '25439.390625', '313010000'],
       ['2019-02-15', '25883.250000', '328530000'],
       ['2019-02-19', '25891.320313', '280620000'],
       ['2019-02-20', '25954.439453', '287880000'],
       ['2019-02-21', '25850.630859', '255710000'],
       ['2019-02-22', '26031.810547', '279760000'],
       ['2019-02-25', '26091.949219', '281600000'],
       ['2019-02-26', '26057.980469', '257850000'],
       ['2019-02-27', '25985.160156', '255380000'],
       ['2019-02-28', '25916.000000', '338520000'],
       ['2019-03-01', '26026.320313', '289890000'],
       ['2019-03-04', '25819.650391', '295510000'],
       ['2019-03-05', '25806.630859', '252260000'],
       ['2019-03-06', '25673.460938', '256250000'],
       ['2019-03-07', '25473.230469', '289140000'],
       ['2019-03-08', '25450.240234', '270500000'],
       ['2019-03-11', '25650.880859', '309790000'],
       ['2019-03-12', '25554.660156', '317730000'],
       ['2019-03-13', '25702.890625', '331410000'],
       ['2019-03-14', '25709.939453', '302790000'],
       ['2019-03-15', '25848.869141', '616910000'],
       ['2019-03-18', '25914.099609', '399530000'],
       ['2019-03-19', '25887.380859', '342250000'],
       ['2019-03-20', '25745.669922', '321980000'],
       ['2019-03-21', '25962.509766', '335250000'],
       ['2019-03-22', '25502.320313', '386510000'],
       ['2019-03-25', '25516.830078', '303120000'],
       ['2019-03-26', '25657.730469', '305110000'],
       ['2019-03-27', '25625.589844', '270340000'],
       ['2019-03-28', '25717.460938', '237170000'],
       ['2019-03-29', '25928.679688', '300620000'],
       ['2019-04-01', '26258.419922', '295570000'],
       ['2019-04-02', '26179.130859', '250940000'],
       ['2019-04-03', '26218.130859', '271980000'],
       ['2019-04-04', '26384.630859', '233040000'],
       ['2019-04-05', '26424.990234', '229550000'],
       ['2019-04-08', '26341.019531', '229380000'],
       ['2019-04-09', '26150.580078', '244410000'],
       ['2019-04-10', '26157.160156', '203130000'],
       ['2019-04-11', '26143.050781', '211680000'],
       ['2019-04-12', '26412.300781', '369910000'],
       ['2019-04-15', '26384.769531', '250620000'],
       ['2019-04-16', '26452.660156', '302340000'],
       ['2019-04-17', '26449.539063', '367780000'],
       ['2019-04-18', '26559.539063', '332850000'],
       ['2019-04-22', '26511.050781', '232570000'],
       ['2019-04-23', '26656.390625', '311690000'],
       ['2019-04-24', '26597.050781', '283370000'],
       ['2019-04-25', '26462.080078', '296730000'],
       ['2019-04-26', '26543.330078', '317290000'],
       ['2019-04-29', '26554.390625', '279450000'],
       ['2019-04-30', '26592.910156', '340320000'],
       ['2019-05-01', '26430.140625', '303850000'],
       ['2019-05-02', '26307.789063', '287610000'],
       ['2019-05-03', '26504.949219', '248900000'],
       ['2019-05-06', '26438.480469', '283020000'],
       ['2019-05-07', '25965.089844', '334960000'],
       ['2019-05-08', '25967.330078', '276420000'],
       ['2019-05-09', '25828.359375', '334760000'],
       ['2019-05-10', '25942.369141', '294580000'],
       ['2019-05-13', '25324.990234', '361240000'],
       ['2019-05-14', '25532.050781', '291570000'],
       ['2019-05-15', '25648.019531', '270720000'],
       ['2019-05-16', '25862.679688', '320960000'],
       ['2019-05-17', '25764.000000', '283760000'],
       ['2019-05-20', '25679.900391', '279560000'],
       ['2019-05-21', '25877.330078', '260870000'],
       ['2019-05-22', '25776.609375', '241760000'],
       ['2019-05-23', '25490.470703', '316940000'],
       ['2019-05-24', '25585.689453', '201370000'],
       ['2019-05-28', '25347.769531', '358980000'],
       ['2019-05-29', '25126.410156', '298930000'],
       ['2019-05-30', '25169.880859', '215240000'],
       ['2019-05-31', '24815.039063', '292230000'],
       ['2019-06-03', '24819.779297', '328240000'],
       ['2019-06-04', '25332.179688', '281690000'],
       ['2019-06-05', '25539.570313', '262660000'],
       ['2019-06-06', '25720.660156', '248070000'],
       ['2019-06-07', '25983.939453', '263010000'],
       ['2019-06-10', '26062.679688', '249280000'],
       ['2019-06-11', '26048.509766', '253490000'],
       ['2019-06-12', '26004.830078', '223690000'],
       ['2019-06-13', '26106.769531', '213400000'],
       ['2019-06-14', '26089.609375', '208020000'],
       ['2019-06-17', '26112.529297', '199500000'],
       ['2019-06-18', '26465.539063', '273490000'],
       ['2019-06-19', '26504.000000', '240950000'],
       ['2019-06-20', '26753.169922', '278170000'],
       ['2019-06-21', '26719.130859', '485560000'],
       ['2019-06-24', '26727.539063', '232390000'],
       ['2019-06-25', '26548.220703', '282160000'],
       ['2019-06-26', '26536.820313', '274340000'],
       ['2019-06-27', '26526.580078', '246930000'],
       ['2019-06-28', '26599.960938', '499350000'],
       ['2019-07-01', '26717.429688', '267670000'],
       ['2019-07-02', '26786.679688', '219270000'],
       ['2019-07-03', '26966.000000', '149840000'],
       ['2019-07-05', '26922.119141', '183940000'],
       ['2019-07-08', '26806.140625', '214290000'],
       ['2019-07-09', '26783.490234', '218330000'],
       ['2019-07-10', '26860.199219', '207990000'],
       ['2019-07-11', '27088.080078', '252300000'],
       ['2019-07-12', '27332.029297', '248390000'],
       ['2019-07-15', '27359.160156', '199730000'],
       ['2019-07-16', '27335.630859', '226000000'],
       ['2019-07-17', '27219.849609', '193930000'],
       ['2019-07-18', '27222.970703', '216070000'],
       ['2019-07-19', '27154.199219', '287690000'],
       ['2019-07-22', '27171.900391', '216310000'],
       ['2019-07-23', '27349.189453', '248850000'],
       ['2019-07-24', '27269.970703', '244320000'],
       ['2019-07-25', '27140.980469', '241420000'],
       ['2019-07-26', '27192.449219', '233650000'],
       ['2019-07-29', '27221.349609', '250850000'],
       ['2019-07-30', '27198.019531', '293250000'],
       ['2019-07-31', '26864.269531', '385150000'],
       ['2019-08-01', '26583.419922', '386320000'],
       ['2019-08-02', '26485.009766', '327640000'],
       ['2019-08-05', '25717.740234', '422240000'],
       ['2019-08-06', '26029.519531', '318160000'],
       ['2019-08-07', '26007.070313', '344790000'],
       ['2019-08-08', '26378.189453', '282530000'],
       ['2019-08-09', '26287.439453', '240260000'],
       ['2019-08-12', '25896.439453', '199390000'],
       ['2019-08-13', '26279.910156', '308900000'],
       ['2019-08-14', '25479.419922', '352250000'],
       ['2019-08-15', '25579.390625', '332600000'],
       ['2019-08-16', '25886.009766', '276210000'],
       ['2019-08-19', '26135.789063', '252640000'],
       ['2019-08-20', '25962.439453', '238100000'],
       ['2019-08-21', '26202.730469', '208790000'],
       ['2019-08-22', '26252.240234', '222810000'],
       ['2019-08-23', '25628.900391', '364260000'],
       ['2019-08-26', '25898.830078', '222780000'],
       ['2019-08-27', '25777.900391', '263530000'],
       ['2019-08-28', '26036.099609', '207070000'],
       ['2019-08-29', '26362.250000', '208650000'],
       ['2019-08-30', '26403.279297', '2190810000'],
       ['2019-09-03', '26118.019531', '223210000'],
       ['2019-09-04', '26355.470703', '202710000'],
       ['2019-09-05', '26728.150391', '256670000'],
       ['2019-09-06', '26797.460938', '209700000'],
       ['2019-09-09', '26835.509766', '273120000'],
       ['2019-09-10', '26909.429688', '322340000'],
       ['2019-09-11', '27137.039063', '272590000'],
       ['2019-09-12', '27182.449219', '250010000'],
       ['2019-09-13', '27219.519531', '255260000'],
       ['2019-09-16', '27076.820313', '220620000'],
       ['2019-09-17', '27110.800781', '223580000'],
       ['2019-09-18', '27147.080078', '212860000'],
       ['2019-09-19', '27094.789063', '212360000'],
       ['2019-09-20', '26935.070313', '497640000'],
       ['2019-09-23', '26949.990234', '204240000'],
       ['2019-09-24', '26807.769531', '301750000'],
       ['2019-09-25', '26970.710938', '237220000'],
       ['2019-09-26', '26891.119141', '229180000'],
       ['2019-09-27', '26820.250000', '217780000'],
       ['2019-09-30', '26916.830078', '222680000'],
       ['2019-10-01', '26573.039063', '260110000'],
       ['2019-10-02', '26078.619141', '309640000'],
       ['2019-10-03', '26201.039063', '241610000'],
       ['2019-10-04', '26573.720703', '221310000'],
       ['2019-10-07', '26478.019531', '195200000'],
       ['2019-10-08', '26164.039063', '244590000'],
       ['2019-10-09', '26346.009766', '190060000'],
       ['2019-10-10', '26496.669922', '217680000'],
       ['2019-10-11', '26816.589844', '282080000'],
       ['2019-10-14', '26787.359375', '178620000'],
       ['2019-10-15', '27024.800781', '245510000'],
       ['2019-10-16', '27001.980469', '214660000'],
       ['2019-10-17', '27025.880859', '222540000'],
       ['2019-10-18', '26770.199219', '288970000'],
       ['2019-10-21', '26827.640625', '241030000'],
       ['2019-10-22', '26788.099609', '265510000'],
       ['2019-10-23', '26833.949219', '247680000'],
       ['2019-10-24', '26805.529297', '253590000'],
       ['2019-10-25', '26958.060547', '274610000'],
       ['2019-10-28', '27090.720703', '290770000'],
       ['2019-10-29', '27071.460938', '269610000'],
       ['2019-10-30', '27186.689453', '231750000'],
       ['2019-10-31', '27046.230469', '270910000'],
       ['2019-11-01', '27347.359375', '270870000'],
       ['2019-11-04', '27462.109375', '273030000'],
       ['2019-11-05', '27492.630859', '286350000'],
       ['2019-11-06', '27492.560547', '237910000'],
       ['2019-11-07', '27674.800781', '259020000'],
       ['2019-11-08', '27681.240234', '221440000'],
       ['2019-11-11', '27691.490234', '202350000'],
       ['2019-11-12', '27691.490234', '213670000'],
       ['2019-11-13', '27783.589844', '278390000'],
       ['2019-11-14', '27781.960938', '303970000'],
       ['2019-11-15', '28004.890625', '283720000'],
       ['2019-11-18', '28036.220703', '252320000'],
       ['2019-11-19', '27934.019531', '245890000'],
       ['2019-11-20', '27821.089844', '258140000'],
       ['2019-11-21', '27766.289063', '232020000'],
       ['2019-11-22', '27875.619141', '214780000'],
       ['2019-11-25', '28066.470703', '248420000'],
       ['2019-11-26', '28121.679688', '324050000'],
       ['2019-11-27', '28164.000000', '198210000'],
       ['2019-11-29', '28051.410156', '120630000'],
       ['2019-12-02', '27783.039063', '236610000'],
       ['2019-12-03', '27502.810547', '275350000'],
       ['2019-12-04', '27649.779297', '218200000'],
       ['2019-12-05', '27677.789063', '208600000'],
       ['2019-12-06', '28015.060547', '223310000'],
       ['2019-12-09', '27909.599609', '217000000'],
       ['2019-12-10', '27881.720703', '213250000'],
       ['2019-12-11', '27911.300781', '213510000'],
       ['2019-12-12', '28132.050781', '277740000'],
       ['2019-12-13', '28135.380859', '250660000'],
       ['2019-12-16', '28235.890625', '286770000'],
       ['2019-12-17', '28267.160156', '286770000'],
       ['2019-12-18', '28239.279297', '289890000'],
       ['2019-12-19', '28376.960938', '262570000'],
       ['2019-12-20', '28455.089844', '603780000'],
       ['2019-12-23', '28551.529297', '223530000'],
       ['2019-12-24', '28515.449219', '86150000'],
       ['2019-12-26', '28621.390625', '155970000'],
       ['2019-12-27', '28645.259766', '182280000'],
       ['2019-12-30', '28462.140625', '181600000'],
       ['2019-12-31', '28538.439453', '193340000'],
       ['2020-01-02', '28868.800781', '251820000'],
       ['2020-01-03', '28634.880859', '239590000'],
       ['2020-01-06', '28703.380859', '252760000'],
       ['2020-01-07', '28583.679688', '266677088']], dtype='<U12')

In [65]:
df = pd.DataFrame(data=selected_data[0:,1:],
             index=selected_data[0:,0],
                                columns=['close', 'adj close'],
                                        dtype='float64')

# Reference for pandas interpolation http://pandas.pydata.org/pandas-docs/stable/missing_data.html
# Adding missing dates to the dataframe
df1 = df
idx = pd.date_range('12-29-2019', '12-31-2020')
df1.index = pd.DatetimeIndex(df1.index)
df1 = df1.reindex(idx, fill_value=np.NaN)
# df1.count() # gives 2518 count
interpolated_df = df1.interpolate()
interpolated_df.count() # gives 3651 count

# Removing extra date rows added in data for calculating interpolation
interpolated_df = interpolated_df[3:]

In [66]:
interpolated_df

                   close    adj close
2020-01-01  28703.620117  222580000.0
2020-01-02  28868.800781  251820000.0
2020-01-03  28634.880859  239590000.0
2020-01-04  28657.714192  243980000.0
2020-01-05  28680.547526  248370000.0
...                  ...          ...
2020-12-27  28583.679688  266677088.0
2020-12-28  28583.679688  266677088.0
2020-12-29  28583.679688  266677088.0
2020-12-30  28583.679688  266677088.0
2020-12-31  28583.679688  266677088.0

[366 rows x 2 columns]

In [67]:
date_format = ["%Y-%m-%dT%H:%M:%SZ", "%Y-%m-%dT%H:%M:%S+%f"]
def try_parsing_date(text):
    for fmt in date_format:
        #return datetime.strptime(text, fmt)
        try:
            return datetime.strptime(text, fmt).strftime('%Y-%m-%d')
        except ValueError:
            pass
    raise ValueError('no valid date format found')

## Preparing NYTimes data
# Function to parse and convert date format

In [69]:
years = [2020]
months = [1]

dict_keys = ['pub_date', 'headline'] #, 'lead_paragraph']
articles_dict = dict.fromkeys(dict_keys)
# Filtering list for type_of_material
type_of_material_list = ['blog', 'brief', 'news', 'editorial', 'op-ed', 'list','analysis']
# Filtering list for section_name
section_name_list = ['business', 'national', 'world', 'u.s.' , 'politics', 'opinion', 'tech', 'science',  'health']
news_desk_list = ['business', 'national', 'world', 'u.s.' , 'politics', 'opinion', 'tech', 'science',  'health', 'foreign']

current_date = '2020-01-09'
from datetime import datetime


current_article_str = ''      

## Adding article column to dataframe
interpolated_df["articles"] = ''
count_articles_filtered = 0
count_total_articles = 0
count_main_not_exist = 0               
count_unicode_error = 0     
count_attribute_error = 0   


for date, row in interpolated_df.T.iteritems():   
    if len(interpolated_df.loc[date, 'articles']) <= 400:
        #print interpolated_df.loc[date, 'articles']
        #print date
        month = date.month
        year = date.year
        file_str = '/Users/zoe/' + str(2020) + '-' + '{:02}'.format(month) + '.json'
        with open(file_str) as data_file:    
            NYTimes_data = json.load(data_file)
        count_total_articles = count_total_articles + len(NYTimes_data["response"]["docs"][:])
        interpolated_df.set_value(date.strftime('%Y-%m-%d'), 'articles', '')
        for i in range(len(NYTimes_data["response"]["docs"][:])):
            try:
                
                articles_dict = { your_key: NYTimes_data["response"]["docs"][:][i][your_key] for your_key in dict_keys }
                articles_dict['headline'] = articles_dict['headline']['main'] # Selecting just 'main' from headline
                #articles_dict['headline'] = articles_dict['lead_paragraph'] # Selecting lead_paragraph       
                pub_date = try_parsing_date(articles_dict['pub_date'])
                #print 'article_dict: ' + articles_dict['headline']
                if date.strftime('%Y-%m-%d') == pub_date: 
                    interpolated_df.set_value(pub_date, 'articles', interpolated_df.loc[pub_date, 'articles'] + '. ' + articles_dict['headline'])  
                
            except KeyError:
                print ('key error')
                #print NYTimes_data["response"]["docs"][:][i]
                #count_main_not_exist += 1
                pass   
            except TypeError:
                print ("type error")
                #print NYTimes_data["response"]["docs"][:][i]
                #count_main_not_exist += 1
                pass

/Users/zoe/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:37: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/Users/zoe/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:47: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

FileNotFoundError: [Errno 2] No such file or directory: '/Users/zoe/2020-02.json'

In [70]:
print (count_articles_filtered) 
print (count_total_articles)                     
print (count_main_not_exist)
print (count_unicode_error)

0
43741
0
0

In [ ]:
interpolated_df

## Putting all articles if no section_name or news_desk not found

In [42]:
for date, row in interpolated_df.T.iteritems():   
    if len(interpolated_df.loc[date,'articles']) <= 400:
        #print interpolated_df.loc[date, 'articles']
        #print date
        month = date.month
        year = date.year
        file_str = '/Users/zoe/' + str(2017) + '-' + '{:02}'.format(month) + '.json'
        with open(file_str) as data_file:    
            NYTimes_data = json.load(data_file)
        count_total_articles = count_total_articles + len(NYTimes_data["response"]["docs"][:])
        interpolated_df.set_value(date.strftime('%Y-%m-%d'), 'articles', '')
       
        for i in range(len(NYTimes_data["response"]["docs"][:])):
            try:
                
                articles_dict = { your_key: NYTimes_data["response"]["docs"][:][i][your_key] for your_key in dict_keys }
                articles_dict['headline'] = articles_dict['headline']['main'] # Selecting just 'main' from headline
                #articles_dict['headline'] = articles_dict['lead_paragraph'] # Selecting lead_paragraph       
                pub_date = try_parsing_date(articles_dict['pub_date'])
                #print 'article_dict: ' + articles_dict['headline']
                if date.strftime('%Y-%m-%d') == pub_date: 
                    interpolated_df.set_value(pub_date, 'articles', interpolated_df.loc[pub_date, 'articles'] + '. ' + articles_dict['headline'])  
                
            except KeyError:
                print ('key error')
                #print NYTimes_data["response"]["docs"][:][i]
                #count_main_not_exist += 1
                pass   
            except TypeError:
                print ("type error")
                #print NYTimes_data["response"]["docs"][:][i]
                #count_main_not_exist += 1
                pass


# Saving the data as pickle file
interpolated_df.to_pickle('/Data/zoe_pickeled.pkl')  


# Save pandas frame in csv form
interpolated_df.to_csv('/Data/zoe_csv.csv',
                       sep='\t', encoding='utf-8')

/Users/zoe/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # This is added back by InteractiveShellApp.init_path()

AttributeError: 'str' object has no attribute 'month'

In [50]:
interpolated_df.to_csv('2017.csv')

In [49]:
interpolated_df

,close,adj close,articles
2017-01-01,NaN,NaN,". Angela Merkel, Russia’s Next Target. Little ..."
2017-01-02,NaN,NaN,". John Berger, Provocative Art Critic, Dies at..."
2017-01-03,19881.759766,339180000.0,. 5 Must-See Shows if You’re in New York This ...
2017-01-04,19942.160156,280010000.0,". Karel Husa, Pulitzer Prize-Winning Composer,..."
2017-01-05,19899.289063,269920000.0,". A Higher Minimum Wage in 2017. Dan Coats, th..."
...,...,...,...
2017-12-27,24774.300781,225890000.0,". Coping With Alzheimer’s, Together and Apart...."
2017-12-28,24837.509766,200960000.0,". Redefining the Ballet Dancer, 50 Years Later..."
2017-12-29,24719.220703,270760000.0,. Listen to ‘The Daily’: Blue-Collar Jobs in t...
2017-12-30,24719.220703,270760000.0,". In Deadly Bronx Blaze, Responders Battled Fi..."
2017-12-31,24719.220703,270760000.0,. Congo Reports Arrest in Killing of 2 U.N. Ex...

In [82]:
interpolated_df = interpolated_df.iloc[:8,]

In [80]:
interpolated_df

,close,adj close,articles
2020-01-01,28703.620117,222580000.0,. Elizabeth Warren Isn’t Talking Much About ‘M...
2020-01-02,28868.800781,251820000.0,". N.B.A. Superstars, Growth and Lockouts: The ..."
2020-01-03,28634.880859,239590000.0,. ‘The New Pope’ Looks a Lot Like John Malkovi...
2020-01-04,28657.714192,243980000.0,. Does the Buyer Have to Pay if the Seller Wal...
2020-01-05,28680.547526,248370000.0,. Vikings’ Overtime Touchdown Upsets Saints’ P...
2020-01-06,28703.380859,252760000.0,". No Corrections: Jan. 6, 2020. A Typical Trum..."

In [78]:
interpolated_df.to_csv('2020.csv')